

<footer>
 <div class="footer">

<div class="foooter-socials">
    <i class="fa-brands fa-linkedin">LinkedIn</i>
    <i class="fa-brands fa-square-instagram">Instagram</i>
    <i class="fa-brands fa-square-x-twitter">Twitter</i>
    
</div>
<div class="footer-title">
    <i class="fa-regular fa-copyright">SachitWebDev</i>
    WanderLust</div>
<div class="privacy-policy">
    <a href="/">Privacy</a>
    <a href="/">Policy</a>
     </div>
 </div>

</footer>